/* Header */
.navbar .navbar-brand span {
  letter-spacing: 1.5px;
}
.navbar .navbar-brand span sup {
  top: -1.5em;
  font-size: 10px;
}
.dropdown-toggle::before {
  font-family: "FontAwesome";
  content: "\f107";
  /* display: inline-block; */
  /* padding-right: 3px; */
  vertical-align: middle;
  font-weight: 900;
  position: absolute;
  right: -3px;
  top: 35%;
  /* padding-left: 11px; */
  font-size: 15px;
}

/* Banner */
.w3l-main-slider .banner-info-bg {
  max-width: 900px;
}
.w3l-main-slider .banner-info-bg h5 {
  font-size: 4rem;
}
.w3l-main-slider .banner-info-bg p {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 3px;
}

/* Grids */
.bottom_grids .mt-5,
.my-5 {
  margin-top: 1.5rem !important;
}

/* Mempers */
.w3l-team .column a img {
  height: 290px;
  object-fit: fill;
}
.w3l-team h3.name-pos a {
  font-size: 18px;
}
.w3l-team .column-btm {
  height: 200px;
  margin-bottom: 20px;
}
.w3l-ab-features .features-w3pvt-main .featured_grid_right_info {
  margin-bottom: 1.2em;
}
.w3l-ab-features .features-w3pvt-main h4 a {
  font-size: 22px;
  margin-bottom: 0;
}
.w3l-ab-features .features-w3pvt-main span.fa {
  font-size: 1.6em;
}
.commeties .w3l-team .column-btm {
  height: 120px;
}

/* sponsers */
.sponsers img {
  border: 4px double #d7d6d6ab;
  padding: 16px;
  background: #ffffff;
}

/* Partners */
.w3l-team.partners .column-btm {
  height: auto;
}

.galler-top img {
  height: 250px;
  width: 100%;
}
